ion-content ion-toolbar {
  --background: translucent;
}

@font-face {
	font-family: MaddenFont;
	src: url('/assets/fonts/EASPORTS15.ttf');
  }

#HeaderImage{
	height: 100px;
	position: absolute;
	width: 100%;
    left: 0;
	top: 0;
	bottom: 0;
	text-align:center;
	background-color: black;
}
#Header{
	color: white;
	text-align: center;
	font-family: MaddenFont;
	text-shadow: 4px 4px 20px black;

}
#CardHeader{
	background-color:#505050;
	background-image: url('/assets/imgs/CrowdHeader.png');
	background-position: center;
	background-size: cover;

}
#CardContent{
	background-image: url('/assets/fields/SEA.jpg');
	background-position: center;
	background-size: cover;
}
#RecordsHeader{
	height: 100px;

}
#RecordsToolBar {
	height: 50px;
}
#RecordsTitle{
	height: 100px;
}
#LastGameCard {
	padding-top: 20px;
	backdrop-filter: blur(2px);

}
#row {
  width: 100%;
  margin: 0 auto;
}
#AwayBlock {
  width: 45%;
  display: inline-block;
  text-align: center;
  backdrop-filter: blur(2px);
}
#AwayTeamLogoMain {
	border-radius: 10px;
	width: 80%;
}
#AwayPlayer {
	width: 45%;
	padding-bottom: 10px;
	display: inline-block;
	font-size: 24px;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 20px black;
	font-family: MaddenFont;
}
#AwayScore {
	width: 45%;
	display: inline-block;
	font-size: 42px;
	text-align: center;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 20px black;
	font-family: MaddenFont;
}

#HomeBlock {
  width: 45%;
  display: inline-block;
  text-align: center;
}
#HomeTeamLogoMain {
	border-radius: 10px;
	transform: scaleX(-1);
	width: 80%;
}
#HomeScore {
	width: 45%;
	display: inline-block;
	font-size: 42px;
	text-align: center;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 20px black;
	font-family: MaddenFont;
}
#HomePlayer {
	width: 45%;
	display: inline-block;
	font-size: 24px;
	text-align: center;
	color: white;
	text-align: center;
	text-shadow: 4px 4px 20px black;
	font-family: MaddenFont;
}

#ScoreSep{
	width: 10%;
	display: inline-block;
}
#TeamSep{
	width: 10%;
	display: inline-block;
	text-align: center;
	font-size: 32px;
	vertical-align: top;
	padding-top: 10px;
	color: white;
}
#PlayerSep{
	width: 10%;
	display: inline-block;
}