ion-content ion-toolbar {
  --background: translucent;
}
#MainCard{
}
#Header{
  text-align: center;
}
#row {
  width: 100%;
  margin: 0 auto;
}
#AwayBlock {
  width: 50%;
  display: inline-block;
  text-align: center;
}
#AwayTeamLogo {
	border-radius: 10px;
	width: 80%;
}
#AwayPlayer {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}
#AwayScore {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}

#HomeBlock {
  width: 50%;
  display: inline-block;
  text-align: center;
}
#HomeTeamLogo {
	border-radius: 10px;
	transform: scaleX(-1);
	width: 80%;
}
#HomeScore {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}
#HomePlayer {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}