ion-content ion-toolbar {
  --background: translucent;
}

#HeaderImage{
	position: absolute;
    width: 100%;
    left: 0;
	top: 0;
	bottom: 0;
    text-align:center;
}
#Header{
  text-align: center;
}
#RecordsHeader{
	height: 100px;

}
#RecordsToolBar {
	height: 10px;
}
#RecordsTitle{
	height: 100px;
}
#LastGameCard {
	background-image: url('/assets/imgs/55-35952-fantasy-football-draft-header-700-1473344615.jpg');
	background-size: contain;
}
#row {
  width: 100%;
  margin: 0 auto;
}
#AwayBlock {
  width: 50%;
  display: inline-block;
  text-align: center;
}
#AwayTeamLogoMain {
	border-radius: 10px;
	width: 80%;
}
#AwayPlayer {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}
#AwayScore {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}

#HomeBlock {
  width: 50%;
  display: inline-block;
  text-align: center;
}
#HomeTeamLogoMain {
	border-radius: 10px;
	transform: scaleX(-1);
	width: 80%;
}
#HomeScore {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}
#HomePlayer {
	width: 50%;
	display: inline-block;
	font-size: 32px;
	text-align: center;
}